* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  clear: both;
  display: table;
}

table {
  max-width: 100%;
}

th,
td {
  width: auto;
}

td {
  word-wrap: break-word;
  max-width: 100px;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(178, 69, 46);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 100, 66);
  border-radius: 10px;
}

#resetButton,
#startButton {
  margin: 0 auto;
  display: block;
}

.navbar.fixed-top.scrolled {
  background-color: orange;
}

/* Example additional styles for the dropdown menu */
.navbar .dropdown-menu {
  right: 0;
  /* Align the dropdown to the right */
  left: auto;
}

footer {
  color: rgb(0, 0, 0);
}

/* navbar text color */
#mainNav a {
  color: rgb(255, 100, 66);
}

#mainNav.navbar-shrink {
  background-color: rgb(178, 69, 46);
}

canvas {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  background-color: rgb(29, 29, 29);
  border: 4px solid rgb(255, 100, 66);
  box-shadow: 2px 2px 6px rgb(201, 75, 47);
}

/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header.masthead {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.masthead .intro-body {
  text-align: center;
  background-color: none;
}

.content-section {
  padding: 100px 0;
  color: white;
}

#aim-training canvas {
  max-width: 100%;
  height: auto;
}

/* Mobile specific styling */
@media (max-width: 768px) {
  #aim-training,
  #cps {
    height: auto;
    padding: 50px 0;
  }

  #aim-training canvas,
  #cps canvas {
    width: 100%;
    height: auto;
  }

  #cpsCanvas {
    border: 4px solid rgb(255, 100, 66);
    box-shadow: 2px 2px 6px rgb(201, 75, 47);
    border-radius: 6px;
  }

  #aim-training .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .masthead {
    padding: 100px 0;
  }

  .masthead h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  /* Adjust font size for smaller screens */
  #weapon-spec table {
    font-size: 12px;
    /* Adjust this value as needed */
  }
}

.custom-btn {
  --color1: rgb(255, 100, 66);
  --color2: rgb(255, 100, 66);
  perspective: 1000px;
  padding: 1em 1em;
  background: linear-gradient(var(--color1), var(--color2));
  border: none;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
  text-shadow: 0 10px 10px #000;
  cursor: pointer;
  transform: rotateX(70deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform 0.5s, box-shadow 0.5s, text-shadow 0.5s;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.custom-btn::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: var(--color2);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
}

.custom-btn::after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: var(--color1);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right;
  box-shadow: none;
}

.custom-btn:hover {
  transform: rotateX(30deg) rotateZ(0);
  color: rgb(0, 0, 0);
  box-shadow: none;
  text-shadow: none;
}

#mainNav .nav-link.active {
  background-color: rgb(0, 0, 0);
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(255, 100, 66);
  color: black;
  border: none;
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.custom-file-upload:hover {
  background-color: rgb(178, 69, 46);
}

@media (max-width: 600px) {
  #canvas {
    max-width: 300px;
  }
}

#header-video {
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Adjust video for smaller screens */
@media (max-width: 768px) {
  #header-video {
    height: 100%;
    max-width: none;
    width: 100%;
  }
}

#file-btn {
  color: rgb(255, 165, 0); /* Changed text color to rgb(255, 165, 0) */
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 20px rgba(255, 100, 66, 0.4); /* Updated shadow color */
  background: rgba(255, 165, 0, 0.1); /* Updated background color */
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 8px;
  border-radius: 5px;
  margin: 0 5px;
  transition: 0.2s;
  border: 1px solid transparent;
  max-width: 50px;
}

#file-btn:hover {
  border-color: rgba(178, 69, 46, 0.6); /* Updated border color */
  background: linear-gradient(
    to bottom,
    rgba(255, 100, 66, 0.2),
    /* Updated gradient colors */ rgba(255, 100, 66, 0.3),
    rgba(255, 100, 66, 0.4)
  );
  box-shadow: 0 6px rgba(178, 69, 46, 0.6); /* Updated shadow color */
  transform: translateY(-6px);
}

#file-btn:active {
  transform: translateY(2px);
  box-shadow: none;
}

#nav-bg {
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
}

/* Ensure the section adjusts for smaller screens */
@media (max-width: 768px) {
  #reaction-speed .map-clean {
    padding: 20px;
  }

  #reactionCanvas {
    width: 100% !important;
    height: auto !important;
  }
}

/* Remove table width for responsive behavior */
table {
  width: 100%;
}

th,td {
  padding: 10px;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 6px;
}

/* Set font sizes for different screen sizes using media queries */
@media (max-width: 768px) {
  /* Mobile styles */
  table {
    font-size: 0.8em;
    /* Adjust font size for mobile */
  }

  th,
  td {
    padding: 8px;
    /* Adjust padding for mobile */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Tablet styles (optional) */
  table {
    font-size: 0.9em;
    /* Adjust font size for tablets */
  }
}

@media (min-width: 992px) {
  /* Desktop styles */
  table {
    font-size: 1em;
    /* Adjust font size for desktop */
  }
}

/* Target even rows using nth-child selector and override background-color */
.custom-table tbody tr:nth-child(even),
.custom-table thead tr:nth-child(odd) {
  background-color: rgb(178, 69, 46);
  /* Dark orange */
}

/* Target odd rows (including headers) using nth-child selector and override background-color */
.custom-table tbody tr:nth-child(odd) {
  background-color: rgb(255, 100, 66); /* Orange */
}